.t1{
  width:90%;
  font-size: 40px;
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
}
.t2{
  width:10%;
  padding-bottom: 50px ;
  text-align: center;
 color: rgb(0, 64, 255);
 border: none;
}

.sec11{
  display: flex;
}
.t3{
    width:70%;
}
.t5{
    text-decoration: underline;
}
.t7{
    width: 20% ;
    margin-left: 300px;
    text-align: left;
    justify-content: space-evenly;
}
.t6
{
    width: 10% ;
    /* margin-right: 200px; */
}
.t4{
    color: rgb(0, 64, 255);
}
.sec21{
  display: flex;
}
.maincontainer{
  display: flex;
  font-family: sans-serif;
}
.container1{
    width: 80% ;
}
.container2{
    width: 20% ;
    font-size: 20px;
    margin-left: 100px;
}
p{
    text-align: justify;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: rgb(0, 64, 255);
}
.t8{
    font-size: 25px;
    font-weight: bold;
}