.block {
      display: block;
      background-color: lightblue;
      margin: 10px 0;
      padding: 10px;
    }
     .inline {
      display: inline;
      background-color: lightgreen;
      padding: 5px;
    }
      .inline-block {
      display: inline-block;
      width: 120px;
      height: 60px;
      background-color: lightcoral;
      margin: 5px;
      text-align: center;
      line-height: 60px;
    }
     .hide {
      display: none;
    }
    .visiable {
      visibility: hidden;
    }
    .inline-to-block {
      display: block;
      background-color: lightblue;
      margin: 10px 0;
      padding: 10px;
    }
    .block-to-inline {
      display: inline;
      background-color: lightgreen;
      padding: 5px;
    }